<template>
    <div>
        <!-- 加载条 -->
        <div id="firstDiv"></div>
        <!-- <router-view></router-view> -->

        <!-- 玥安分销 -->
        <div id="container"></div>  
    </div>
</template>

<script>
export default {
    data:function(){
        return{
            timer:"",
            url:"",
            // 显示动态加载
            opts : {            
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'black', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '70%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",
            }
    },
    mounted:function(){
        console.log("我是  鉴权  页面");

        // 3D 版本
        // var map = new AMap.Map('container',{
        //     viewMode:'3D',
        //     pitch:75,
        //     zoom: 17,
        //     expandZoomRange:true,
        //     zooms:[3,20],
        // });
        // 2D版本 

        // 1,添加地图
        var map = new AMap.Map('container');

        // 2,设置中心点
        map.setZoom(18);
        var place = [114.430857,30.508989];
        map.setCenter(place);

        // 3,设置位置点
        var marker = new AMap.Marker({
            position:place,//marker所在的位置
            // map:map//创建时直接赋予map属性
        });
        //也可以在创建完成后通过setMap方法执行地图对象
        marker.setMap(map);

        //4,添加工具条,比例尺,缩略图
        AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
            function(){
                map.addControl(new AMap.ToolBar());  // 添加工具条:缩放,平移
                map.addControl(new AMap.Scale());    // 添加比例尺:显示缩放比例尺
                //添加缩略图:右下角有一个缩略图
                map.addControl(new AMap.OverView({isOpen:true})); 
        });

        //5,在地图上添加圆圈
        var circle = new AMap.Circle({
            center: place,
            radius: 100,
            fillOpacity:0.2,
            strokeWeight:1
        });
        circle.setMap(map);
        map.setFitView();

        // 6,添加简介说明
        var info = new AMap.InfoWindow({
            content:'<div class="title">我是雷后超</div><br>这里是华中科技大学启明学院',
            offset:new AMap.Pixel(0,-28)
        })
        info.open(map,marker.getPosition());

        // 7,添加交通图层
        var defaultLayer = new AMap.TileLayer();
        var traffic = new AMap.TileLayer.Traffic();
        traffic.setMap(map);

        // 8,再添加点标记market
        var icon = new AMap.Icon({
                image : 'http://vdata.amap.com/icons/b18/1/2.png',//24px*24px
                //icon可缺省，缺省时为默认的蓝色水滴图标，
                size : new AMap.Size(24,24)
        });
        var marker2 = new AMap.Marker({
            icon : icon,
            position: [114.431469,30.509196],
            // offset : new AMap.Pixel(0,0),
            title: 'wisco联合实验室'
        });
        marker2.setMap(map);

        //9,添加文字 114.430892,30.509015
        var content= '<div class="taiwan">宝岛台湾</div>';
        var marker3 = new AMap.Marker({
            content: content,
            position: [114.43042,30.509164],
            // title: provinces[i].name,
            offset: new AMap.Pixel(-60,-20),
            map: map
        });

        var i = 0;
        //10,添加点击事件
        var _onclick = function(){
            console.log("market被点击了");
            if(i == 0){
                info.close();
                i = 1;
            }else{
                info.open(map,marker.getPosition());
                i = 0;
            }
        }   
        AMap.event.addListener(marker,'click',_onclick);

        //11,默认窗口与marker点击事件绑定
        var infoWindow = new AMap.InfoWindow();
        var markerClick = function(e){
           infoWindow.setContent(e.target.content);
           infoWindow.open(map,e.target.getPosition())   ;
        }
        marker2.content = "我是联合实验室";
        marker2.on('click',markerClick);
    },

}
</script>

<style>
#container {
    width:1500px;
    height: 1000px; 
    text-align: center;
    border:1px solid black;
};
.title{
    color:green;
    background-color: lightblue;
    font-size: 40px;
}
.taiwan{
    border:1px solid red;
}
</style>