<template>
    <div class="layout">
        <div v-bind:style="{
                'background': '#464c5b',
                'width':width4Left,
                'height': '100%',
            }">
            <div class="layout-logo-left"></div>
            <Menu @on-select="onclick" active-name="1-1" theme="dark" width="auto" :open-names="['1']">
                
<!--
                <Submenu name="1" style="font-size:0.5rem;"  >
                    <template slot="title" >
                        <Icon type="search" :size="iconSize"></Icon>
                        <span v-if="show">查询</span>
                    </template>
                    <MenuItem name="1-1" style="height: 2rem;font-size:0.5rem;border-bottom:1px solid #495060" v-if="show">查询设备信息</MenuItem>
                    <MenuItem name="1-2"  style="height: 2rem;font-size:0.5rem;border-bottom:1px solid #495060" v-if="show" >查询手机绑定的设备</MenuItem>
                    <MenuItem name="1-3"  style="height: 2rem;font-size:0.5rem;" v-if="show" >查询设备服务器地址</MenuItem>
                </Submenu>
                <Submenu name="2" style="font-size:0.5rem;">
                    <template slot="title">
                        <Icon type="iphone" :size="iconSize" ></Icon>
                        <span v-if="show"> 报警 </span>
                    </template>
                    <MenuItem name="2-1" style="font-size:0.5rem;border-bottom:1px solid #495060" v-if="show">查询报警电话</MenuItem>
                    <MenuItem name="2-2" style="font-size:0.5rem;border-bottom:1px solid #495060" v-if="show">删除报警电话</MenuItem>
                    <MenuItem name="2-3" style="font-size:0.5rem;border-bottom:1px solid #495060" v-if="show">修改报警电话</MenuItem>
                    <MenuItem name="2-4" style="font-size:0.5rem;" v-if="show">拨打报警电话</MenuItem>
                </Submenu>
                <Submenu name="3" style="font-size:0.5rem;">
                    <template slot="title">
                        <Icon type="ios-analytics" :size="iconSize"></Icon>
                        <span v-if="show"> 绑定 </span>
                    </template>
                    <MenuItem name="3-1" style="font-size:0.5rem;" v-if="show">绑定设备</MenuItem>
                </Submenu>
                <Submenu name="4" style="font-size:0.5rem;">
                    <template slot="title">
                        <Icon type="ios-gear" :size="iconSize" ></Icon>
                        <span v-if="show"> 设置 </span>
                    </template>
                    <MenuItem name="4-2" style="font-size:0.5rem; border-bottom:1px solid #495060" v-if="show">修改设备服务器地址</MenuItem>
                    <MenuItem name="4-3" style="font-size:0.5rem; border-bottom:1px solid #495060" v-if="show">升级</MenuItem>
                    <MenuItem name="4-4" style="font-size:0.5rem; border-bottom:1px solid #495060" v-if="show">注册为摩托车版本</MenuItem>
                    <MenuItem name="4-1" style="font-size:0.5rem;" v-if="show">使用指南</MenuItem>
                </Submenu>
                    
                <Submenu name="0" style="font-size:0.5rem;" v-if="isAccessible" >
                    <template slot="title" >
                        <Icon type="ios-people" :size="iconSize"></Icon>
                        <span v-if="show">管理员</span>
                    </template>
                    <MenuItem name="0-1" style="font-size:0.5rem;border-bottom:1px solid #495060" v-if="show">添加管理员</MenuItem>
                    <MenuItem name="0-2"  style="font-size:0.5rem;border-bottom:1px solid #495060" v-if="show" >添加研发</MenuItem>
                    <MenuItem name="0-3"  style="font-size:0.5rem;" v-if="show" >添加销售</MenuItem>
                </Submenu>
 -->
            </Menu>
        </div>

        <div v-bind:style="{
                'text-align': 'left',
                'width': width4right,
                'height':'100%',
        }">
        <div class="layout-header">
            <Button type="text" @click="toggleClick">
                <Icon type="chevron-right" size="50" v-if="!iconLeft" ></Icon>
                <Icon type="chevron-left" size="50" v-if="iconLeft" ></Icon>
            </Button>
        </div>

           

        </div>

    </div>




</template>
<script>
    export default {
        data(){
          return{
              width4Left:'20%',
              width4right:'80%',
              spanLeft:5,
              show:true,
              iconSize:30,
              iconLeft:true,

              // 控制权限
              isAccessible:false,
          }
        },

        mounted:function(){
           
        },
        methods:{

            toggleClick () {
                if (this.spanLeft == 5) {
                    this.spanLeft = 2;
                    this.iconSize = 35;
                    this.show = false;
                    this.width4Left = '10%';
                    this.width4right = '90%';
                    this.iconLeft = false;
                } else {
                    this.spanLeft = 5;
                    this.iconSize = 30;
                    this.show = true;
                    this.width4Left = '20%';
                    this.width4right = '80%';
                    this.iconLeft = true;
                }
            },
            onclick:function(name){
               
            },
        },
    }
</script>
<style>
    .layout{
        border: 1px solid #d7dde4;
        background: #fff;
        width:100%;
        height: 4000px;
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        margin-top: -60px;
    }
    .layout-logo-left{
        width: 90%;
        height: 5%;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }
    .layout-menu-left{
        background: #464c5b;
        width:40%;
        height: 100%;
    }
    .layout-menu-right{
        text-align: left;
        width: 60%;
        height:100%;
    }
    .layout-header{
        height: 200px;
        background: #80848f;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        /*border-bottom: 2px solid black;*/
    }
    .layout-breadcrumb{
       padding: 10px 15px 0;
   }
    .layout-content{
        /*min-height: 200px;*/
        /*margin: 15px;*/
        width:100%;
        height: 92%;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
        width:100%;
        /*border:5px solid black;*/
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
        height: auto;
    }
</style>
