<template>
    <div >
        <h1>找电驴</h1>
        <div class="login-form">
            
            <!-- 关闭按钮 -->
            <div class="close"> </div> 

            <!-- 右上角按钮 -->
            <div class="head-info">
                <label class="lbl-1"> </label>
                <label class="lbl-2"> </label>
                <label class="lbl-3"> </label>
            </div>
                    
            <!-- 人头像 -->
            <div class="avtar">
                <img src="../../static/images/avtar.png" />
            </div>
            
            <!-- 输入用户名 + 密码 --> 
            <form>
                <input type="text" class="text" v-model="userName" @focus="userName_onfocus" @blur="userName_onblur" >
                <div class="key">
                    <input type="password"  v-model="passWord" @focus="passWord_onfocus" @blur="passWord_onblur" >
                </div>
            </form>
        
            <!-- 点击提交按钮 -->
            <div class="signin">
                <input type="submit" value="Login" @click="userLogin">
            </div>
            <!-- 加载条 -->
            <!-- <br><br> -->
            <div id="firstDiv"></div>
        </div>
    </div>
</template>

<script>
export default {
    data:function(){
        return{
            userName:"Username",//"18071120852",
            passWord:"Password",//"654123",
            show:true,

             // 显示动态加载
            opts : {            
                lines: 13, // 花瓣数目
                length: 20, // 花瓣长度
                width: 10, // 花瓣宽度
                radius: 30, // 花瓣距中心半径
                corners: 1, // 花瓣圆滑度 (0-1)
                rotate: 0, // 花瓣旋转角度
                direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
                color: 'white', // 花瓣颜色
                speed: 1, // 花瓣旋转速度
                trail: 60, // 花瓣旋转时的拖影(百分比)
                shadow: true, // 花瓣是否显示阴影
                hwaccel: false, //spinner 是否启用硬件加速及高速旋转            
                className: 'spinner', // spinner css 样式名称
                zIndex: 2e9, // spinner的z轴 (默认是2000000000)
                top: '20%', // spinner 相对父容器Top定位 单位 px
                left: '50%'// spinner 相对父容器Left定位 单位 px
            },
            spinner:"",
            
        }
    },
    mounted:function(){
        document.body.style.backgroundImage="url(./static/images/bg1.jpg)"
    },
    methods:{
        /************* 输入检查 ********************************/
        userName_onfocus:function(){
            this.userName = "";
        },
        userName_onblur:function(){
            if(this.userName == ""){
                this.userName = 'Username';
            }
        },
        passWord_onfocus:function(){
            this.passWord = "";
        },
        passWord_onblur:function(){
            if(this.passWord == ""){
                this.passWord = 'Password';
            }
        },

        // 登录判断
        userLogin:function(){
            var self = this;

            // 1,打开
            self.spinner = new Spinner(self.opts);
            $("#firstDiv").text("");
            var target = $("#firstDiv").get(0);
            self.spinner.spin(target);

            AV.User.logInWithMobilePhone(this.userName, this.passWord).then(function (loginedUser) {
            
                // 暂存用户id
                localStorage.setItem("avUsrId",loginedUser.getObjectId());

                self.spinner.spin();
                self.$router.push({path:"/Main"});
            }, function (error) {
                self.spinner.spin();
                self.$router.push({path:"/WantAccess"});
            });
            
        }
    }
}
</script>

<style>
@import "../../static/css/style.css";
</style>
