<template>
    <div class="layout">
        <!-- 左半边 -->
        <div v-bind:style="{
                'background': '#464c5b',
                'width':width4Left,
                'height': '100%',               
        }">
            <div class="layout-logo-left"></div>
            <Menu @on-select="onclick"active-name="1-1" theme="dark" width="auto" :open-names="['1']">  
                <!-- 设备列表 -->
                <Submenu name="1" style="font-size:20px;" >
                    <template slot="title"  >
                        <Icon type="search" :size="iconSize"></Icon>
                        <span v-if="show">设备列表</span>
                    </template>
                    <div style="height:1000px; overflow:auto">
                        <div v-for="(item,index) in deviceList" >
                            <MenuItem 
                                v-bind:name=item 
                                style="height: 60px;font-size:18px;border-bottom:1px solid #495060;padding-left:2%"
                                v-if="show"
                            >
                                {{item}}
                            </MenuItem>
                        </div>
                    </div>
                </Submenu>
            </Menu>
        </div>
        <!-- 右半边 -->
        <div v-bind:style="{
                'text-align': 'left',
                'width': width4right,
                'height':'100%',
            }">
            <div class="layout-header">
                <Button type="text" @click="toggleClick">
                    <Icon type="chevron-right" size="50" v-if="!iconLeft" ></Icon>
                    <Icon type="chevron-left" size="50" v-if="iconLeft" ></Icon>
                </Button>
            </div>
             <!-- 玥安分销 -->
            <div id="container" ></div>  
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            width4Left:'30%',
            width4right:'70%',
            spanLeft:5,
            show:true,
            iconSize:30,
            iconLeft:true,

            // 玥安分销设备表
            deviceList:[],      // 设备imei列表
            deviceInfoList:{},  // 设备详细信息列表
            // 地图
            map:"",
            circle:"",
            // 获取GSM等需要的post数据
            data4Gsm:{
                "imei":"",
                "cmd":{
                    "c":1
                }
            },

            // 经纬度转地理位置
            geocoder:"",
            // marker列表
            markerList:{},
        }
    },

    mounted:function(){
        document.body.style.backgroundImage="";
        this.read_device();
        this.init_map();
    },
    methods:{
        // 改变左右边栏的宽度比
        toggleClick () {
            if (this.spanLeft == 5) {
                this.spanLeft = 2;
                this.iconSize = 35;
                this.show = false;
                this.width4Left = '10%';
                this.width4right = '90%';
                this.iconLeft = false;
            } else {
                this.spanLeft = 5;
                this.iconSize = 30;
                this.show = true;
                this.width4Left = '30%';
                this.width4right = '70%';
                this.iconLeft = true;
            }
        },

        // 读取代理商的设备列表
        read_device:function(){
            var self = this;

            // 控制权限
            if(localStorage.hasOwnProperty('avUsrId')){
                var avUsrId = localStorage.getItem("avUsrId");
                var url = "https://api.xiaoantech.com/scm/agent/queryByAVUsrId";
                this.$http.post(url,{"avUsrId":avUsrId},
                    {emulateJSON:true}).then(
                        function(res){
                            // console.log("res:",res);
                            // console.log("agentId:",res.body.data.agentId);
                            var agentId = res.body.data.agentId;
                            var mapUrl = "http://api.xiaoantech.com/scm/agent/map";
                            self.$http.post(mapUrl,{"agentId":agentId},
                                {emulateJSON:true}).then(
                                    function(res){
                                        res = res.body;
                                        if(res.suc == true){
                                            self.deviceList = res.data.imeiList;  // 设备imei列表

                                            // 初始化 标志设备没有marker
                                            for(var i = 0;i<res.data.imeiList.length;i++){
                                                self.deviceInfoList[res.data.imeiList[i]] = false;
                                            }
                                            // console.log(res.data.gpsList);
                                            // 读取前20个设备的信息
                                            for(var i = 0;i<res.data.gpsList.length;i++){
                                                if(res.data.gpsList[i][0] != -1 && res.data.gpsList[i][1] != -1){
                                                    var device = {};
                                                    // 向一个设备中加入info窗体
                                                    device.info = new AMap.InfoWindow({
                                                        content:"哈哈哈",
                                                        offset:new AMap.Pixel(0,-28)
                                                    });
                                                    device.show = false;
                                                    device.imei = res.data.imeiList[i];

                                                    //在地图上加上标记marker
                                                    var marker = new AMap.Marker({
                                                        position:[res.data.gpsList[i][0],res.data.gpsList[i][1]],//marker所在的位置
                                                        map:self.map,//创建时直接赋予map属性,
                                                    });
                                                    // 我自己加的字段
                                                    marker.data = device;
                                                    marker.isComplete = false;
                                                    // console.log("前20个设备的marker,",marker);

                                                    marker.on('click',self.marker_onClick); // 绑定事件

                                                    // 标记该设备已有marker
                                                    var imei = device.imei;
                                                    self.deviceInfoList[imei]= true;    
                                                    self.markerList[imei] = marker;      // 记录该imei所对应的marker
                                                }
                                            } 
                                            // 适应一下界面
                                            self.map.setFitView();
                                        }else{
                                            console.log("读取失败,res == false");
                                            alert("读取代理商设备列表失败");
                                        }
                                    }
                                ).catch( function(err){
                                    console.log("读取失败");
                                    alert("读取代理商设备列表 异常");
                                });
                        }
                    ).catch( function(err){
                            console.log("读取代理商agentId失败");
                            // alert("读取代理商设备列表 异常");
                    });
            }
            else{
                // 返回登录页面
                this.$router.push({path:'/'});
            }
/*
            var url = "http://api.xiaoantech.com/scm/agent/map";
            this.$http.post(url,{"agentId":20},
                {emulateJSON:true}).then(
                    function(res){
                        res = res.body;
                        if(res.suc == true){
                            self.deviceList = res.data.imeiList;  // 设备imei列表

                            // 初始化 标志设备没有marker
                            for(var i = 0;i<res.data.imeiList.length;i++){
                                self.deviceInfoList[res.data.imeiList[i]] = false;
                            }
                            // console.log(res.data.gpsList);
                            // 读取前20个设备的信息
                            for(var i = 0;i<res.data.gpsList.length;i++){
                                if(res.data.gpsList[i][0] != -1 && res.data.gpsList[i][1] != -1){
                                    var device = {};
                                    // 向一个设备中加入info窗体
                                    device.info = new AMap.InfoWindow({
                                        content:"哈哈哈",
                                        offset:new AMap.Pixel(0,-28)
                                    });
                                    device.show = false;
                                    device.imei = res.data.imeiList[i];

                                    //在地图上加上标记marker
                                    var marker = new AMap.Marker({
                                        position:[res.data.gpsList[i][0],res.data.gpsList[i][1]],//marker所在的位置
                                        map:self.map,//创建时直接赋予map属性,
                                    });
                                    // 我自己加的字段
                                    marker.data = device;
                                    marker.isComplete = false;
                                    // console.log("前20个设备的marker,",marker);

                                    marker.on('click',self.marker_onClick); // 绑定事件

                                    // 标记该设备已有marker
                                    var imei = device.imei;
                                    self.deviceInfoList[imei]= true;    
                                    self.markerList[imei] = marker;      // 记录该imei所对应的marker
                                }
                            } 
                            // 适应一下界面
                            self.map.setFitView();
                        }else{
                            console.log("读取失败,res == false");
                            alert("读取代理商设备列表失败");
                        }
                    }
                ).catch( function(err){
                    console.log("读取失败");
                    alert("读取代理商设备列表 异常");
                });
                */
        },
        // 初始化地图
        init_map:function(){
            var self = this;
            // 1,添加地图
            self.map = new AMap.Map('container');
            // 2,设置中心点
            self.map.setZoom(4);     // 俯瞰全国
            var place = [114.430857,30.508989];
            self.map.setCenter(place);
            // 3,设置位置点 ---便于我的观测
            // var marker = new AMap.Marker({
            //     position:place,//marker所在的位置
            // });
            // marker.setMap(self.map);
            //4,添加工具条,比例尺,缩略图
            AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],
                function(){
                    self.map.addControl(new AMap.ToolBar());  // 添加工具条:缩放,平移
                    self.map.addControl(new AMap.Scale());    // 添加比例尺:显示缩放比例尺
                    //添加缩略图:右下角有一个缩略图
                    self.map.addControl(new AMap.OverView({isOpen:true})); 
            });
            //5,在地图上添加圆圈
            self.circle = new AMap.Circle({
                center: place,
                radius: 100,
                fillOpacity:0.2,
                strokeWeight:1
            });
            self.circle.setMap(self.map);
            
            // 加载 经纬度转地理位置插件
            AMap.service('AMap.Geocoder',function(){//回调函数
                //实例化Geocoder
                self.geocoder = new AMap.Geocoder({
                    city: "010"//城市，默认：“全国”
                });
            });

           
            /*
            // 6,添加简介说明
            var info = new AMap.InfoWindow({
                content:'<div class="title">我是雷后超</div><br>这里是华中科技大学启明学院',
                offset:new AMap.Pixel(0,-28)
            })
            info.open(self.map,marker.getPosition());

            // 8,再添加点标记market
            var icon = new AMap.Icon({
                    image : 'http://vdata.amap.com/icons/b18/1/2.png',//24px*24px
                    //icon可缺省，缺省时为默认的蓝色水滴图标，
                    size : new AMap.Size(24,24)
            });
            var marker2 = new AMap.Marker({
                icon : icon,
                position: [114.431469,30.509196],
                // offset : new AMap.Pixel(0,0),
                title: 'wisco联合实验室'
            });
            marker2.setMap(self.map);


            //9,添加文字 114.430892,30.509015
            var content= '<div class="taiwan">宝岛台湾</div>';
            var marker3 = new AMap.Marker({
                content: content,
                position: [114.43042,30.509164],
                // title: provinces[i].name,
                offset: new AMap.Pixel(-60,-20),
                map: self.map
            });

            var i = 0;
            //10,添加点击事件
            var _onclick = function(){
                console.log("market被点击了");
                if(i == 0){
                    info.close();
                    i = 1;
                }else{
                    info.open(self.map,marker.getPosition());
                    i = 0;
                }
            }   
            AMap.event.addListener(marker,'click',_onclick);

            //11,默认窗口与marker点击事件绑定
            var infoWindow = new AMap.InfoWindow();
            var markerClick = function(e){
            infoWindow.setContent(e.target.content);
            infoWindow.open(self.map,e.target.getPosition())   ;
            }
            marker2.content = "我是联合实验室";
            marker2.on('click',markerClick);
            */
        },

         // 点击设备,具体显示(跳到某个设备的位置)
        onclick:function(imei){
        
            var self = this;
            var data = "{\"imei\":\"" + imei + "\",\"cmd\":{\"c\":1}}";
            $.ajax({
                url:"https://api.xiaoantech.com/v1/server",
                dataType:'json',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                data: data,
                success: function(res){
                    if(res.code != 0){
                        console.log("读取"+imei+"的数据失败");
                        self.$Notice.error({
                            "title":"设备不在线",
                        });
                    }
                    else{
                        res = res.data;
                        if(res.longitude != 0 && res.latitude!= 0){
                            // 1,判断该设备是否有marker
                            if(self.deviceInfoList[imei] == false){
                                // 向一个设备中加入info窗体
                                res.info = new AMap.InfoWindow({
                                    content:"哈哈哈",
                                    offset:new AMap.Pixel(0,-28)
                                });
                                res.show = false;
                                //在地图上加上标记marker
                                var marker = new AMap.Marker({
                                    position:place,//marker所在的位置
                                    map:self.map,//创建时直接赋予map属性,
                                });
                                // 我自己的字段
                                marker.data = res;
                                marker.isComplete = true;
                                // console.log("非前20个设备的marker,",marker);

                                marker.on('click',self.marker_onClick); // 绑定事件
                                self.deviceInfoList[imei] = true;        // 标志为已有marker
                                self.markerList[imei] = marker;
                            }

                            // 2,设置中心点,页面跳转到该设备附件
                            self.map.setZoom(17);     // 跳转到该设备处细看
                            var place = [res.longitude,res.latitude];
                            self.map.setCenter(place);
                            self.$Notice.success({
                                "title":"设备查询成功",
                            });
                        
                            self.circle.setCenter(place);
                            // console.log("读取结果",res);
                            console.log("该imei对应的marker: ",self.markerList[imei]);
                            self.marker_onClick(self.markerList[imei]);
                        }
                        else{
                            self.$Notice.error({
                                "title":"设备不在线",
                            });
                        }
                    }
                },error: function(res){
                    console.log("读取"+imei+"的数据 异常");
                }
            });
        },
        // 辅助函数: 窗体的显示与关闭
        help_showInfoBox:function(marker){
            // 设备信息结构体
            var self = this;
            var deviceinfo = marker.data;
            if(deviceinfo.show == true){
                console.log("关闭窗口");
                deviceinfo.info.close();
                deviceinfo.show = false;
            }
            else{   // 打开信息窗口
                console.log("打开窗口");

                // 设备类型
                var deviceType = "";
                if(deviceinfo.deviceType == 3 ||deviceinfo.deviceType == 4 ||
                  deviceinfo.deviceType == 5 || deviceinfo.deviceType == 6 ||
                  deviceinfo.deviceType == 7)
                  deviceType = `G-004 (${deviceinfo.deviceType})`;
                else deviceType = `G-002 (${deviceinfo.deviceType})`;
              /*  if(deviceinfo.deviceType == 1) deviceType = "小安宝初代(1)";
                else if(deviceinfo.deviceType == 2) deviceType = "小安宝一代(2)";
                else if(deviceinfo.deviceType == 3) deviceType = "小安宝二代(3)";
                else if(deviceinfo.deviceType == 4) deviceType = "小安宝三代(4)";
                else if(deviceinfo.deviceType == 5) deviceType = "小安宝四代(5)";

                else if(deviceinfo.deviceType == 6) deviceType = "小安宝无代(6)";
                else if(deviceinfo.deviceType == 7) deviceType = "小安宝六代(7)";
                else if(deviceinfo.deviceType == 8) deviceType = "小安宝七代(8)";
                else if(deviceinfo.deviceType == 10) deviceType = "玥安 初代(10)";
                else if(deviceinfo.deviceType == 20) deviceType = "玥安第一代(20)";
                else if(deviceinfo.deviceType == 21) deviceType = "玥安第二代(21)";
*/
                // 固件版本号
                var version1 = Math.floor(deviceinfo.version / 65536);
                var version2 = Math.floor((deviceinfo.version - version1 * 65536 ) / 256);
                var version3 = Math.floor((deviceinfo.version - version1 * 65536 - version2 * 256));
                var version = version1 + "." +  version2 + "." + version3 ;

                // 获取登录时间
                var nS = deviceinfo.timestamp;
                var date = new Date(parseInt(nS) * 1000);//.toLocaleString().substr(0,17);
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                if(month < 10) month = "0" + month;         // 格式化时间 2:0 -> 02:00
                var day = date.getDate();
                if(day < 10) day = "0" + day;
                var hour = date.getHours();
                if(hour < 10) hour = "0" + hour;
                var minute = date.getMinutes();
                if(minute < 10) minute = "0" + minute;
                var second = date.getSeconds();
                if(second < 10) second = "0" + second;
                date = year + '-' + month + '-' + day + ' ' + hour + ':'
                            + minute + ":" + second ;

                var color = "green";
                var online = "在线";
                if(deviceinfo.state == 0) {
                    online = "离线";
                    color = "red";
                }
                var content = '<div class="infoBox">' + 
                                    '<div class="title">设备信息</div>' + 
                                    // '<hr>' + 
                                    "设备:<span style='color:"+color+"'>" + 
                                    
                                    online +
                                    "</span>" +  
                                    "<br>" + 
                                    '信号强度:' + deviceinfo.GSM +
                                    "<br>" + 
                                    // "MaxGAM:" + deviceinfo.MAXGSM +
                                    // "<br>" + 
                                    "设备类型: " + deviceType + 
                                    "<br>" + 
                                    // "经度: " + deviceinfo.longitude + 
                                    // "<br>" + 
                                    // "纬度: " + deviceinfo.latitude + 
                                    // "<br>" + 
                                    // "固件版本: " + version + 
                                    // "<br>" + 
                                    // "电压: " + deviceinfo.voltage + 
                                    // "<br>" + 
                                    "设备最近一次登录时间: " + 
                                    "<br>" + date ;//+ 
                            // "</div>";
                        
                // 获取地理位置
                var lnglatXY=[deviceinfo.longitude, deviceinfo.latitude];//地图上所标点的坐标
                self.geocoder.getAddress(lnglatXY, function(status, result) {
                    if (status === 'complete' && result.info === 'OK') {
                        content = content + "<br>车辆位置:<br>" + result.regeocode.formattedAddress
                                  + "</div>";
                        // console.log(result.regeocode.formattedAddress);
                        deviceinfo.info.setContent( content );
                        deviceinfo.info.open(self.map,marker.getPosition());
                        deviceinfo.show = true;
                    }else{
                    //获取地址失败
                        content = content + "</div>";
                        deviceinfo.info.setContent( content );
                        deviceinfo.info.open(self.map,marker.getPosition());
                        deviceinfo.show = true;
                    }
                }); 
               

                
            }
        },

        // 每个marker的绑定事件(显示详细信息)
        marker_onClick:function(marker){
            var self = this;
            // console.log("点击了marker:",marker);
            if(marker.target === undefined){
                console.log("targer没有定义");
            }
            else marker = marker.target;
            // console.log("marker点击了,",marker);
            // (非前20个设备)设备信息已读到,直接显示
            if(marker.isComplete == true){
                // console.log("我不是前20个设备中的一个");
                this.help_showInfoBox(marker);
            }
            else{   //(前20个设备)先读取具体详细信息,然后显示
                // console.log("我是前20个设备中的一个");
                var imei = marker.data.imei;
                var data = "{\"imei\":\"" + imei + "\",\"cmd\":{\"c\":1}}";
                $.ajax({
                    url:"https://api.xiaoantech.com/v1/server",
                    dataType:'json',
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    data: data,
                    success: function(res){

                        // console.log(res);
                        if(res.code != 0){
                            console.log("读取"+imei+"的数据失败");
                            self.$Notice.error({
                                "title":"设备不在线",
                            });
                        }
                        else{
                            res = res.data;
                            // 读到数据,更新marker结构体的值,并显示marker对应的info
                            marker.isComplete = true;
                            res.info = marker.data.info;
                            res.show = marker.data.show;
                            marker.data = res;

                            // console.log("现在marker是:",marker);
                            self.help_showInfoBox(marker);
                        }
                    },error: function(res){
                        console.log("读取"+imei+"的数据 异常");
                    }
                });
            }
        },
     
       
    },
}
</script>
<style>
#container {
    width:100%;
    height: 100%; 
    text-align: center;
    border:1px solid black;
    margin-left:0%;
};
.infoBox{
    width:280px;
    /* background-color:  #99c2ff; */
    font-size: 20px;
    font-weight: bold;
    color: #1c2438;
    /* box-shadow: 10px 10px 5px #888888;  */
};
.title{
    color:#1c2438;/*green;*/
    width:100%;
    font-size: 40px;
    border-bottom: 1px solid #495060;
}
.layout{
    border: 1px solid #d7dde4;
    background: #fff;
    width:100%;
    height:1000px;
    /* height:100%; */
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    margin-top: -60px;
}
.layout-logo-left{
    width: 90%;
    height: 2%;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
}
.layout-menu-left{
    background: #464c5b;
    width:40%;
    height: 100%;
}
.layout-menu-right{
    text-align: left;
    width: 60%;
    height:100%;
}
.layout-header{
    height: 8%;
    background: #80848f;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    /*border-bottom: 2px solid black;*/
}
.layout-breadcrumb{
    padding: 10px 15px 0;
}
.layout-content{
    /*min-height: 200px;*/
    /*margin: 15px;*/
    width:100%;
    height: 92%;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}
.layout-content-main{
    padding: 10px;
    width:100%;
    /*border:5px solid black;*/
}
.layout-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
    height: auto;
}
</style>
